@font-face {
  font-family: "CronosPro-Regular";
  src: url("http://localhost/projetos/TimelineJS/css/font/");
  src: local("CronosPro-Regular"), url("http://localhost/projetos/TimelineJS/css/font/");
}
@font-face {
  font-family: "CronosPro-Bold";
  src: url("http://localhost/projetos/TimelineJS/css/font/");
  src: local("CronosPro-Bold"), url("http://localhost/projetos/TimelineJS/css/font/");
}

body{ font-family: CronosPro-Regular, Serif; margin: 0px; background: url("../img/icones/background_ancoragem.png") #5B5B5B; }

/* 
HELP 
*/
.cf:before, 
.cf:after 	{ content:""; display: table; }
.cf:after 	{ clear:both; }
.cf 		{ zoom:1; }		/* For IE 6/7 (trigger hasLayout) */
.left 		{ float: left; }
.right 		{ float: right; }
.hide 		{ display: none; }
.block 		{ display: block; }
.bolder 	{ font-weight: bolder; }
/* 
FIM HELP 
*/

#principal {
	 margin: 0 auto; min-height: 400px; width: 640px; background: url("../img/icones/background_ancoragem.png") #e3e6ec;
}
#topo {
	margin: 0px; height: 140px; width: 100%; position: relative; z-index: 5;
}
#cabecalhoTopo {
    background: url("../img/icones/cabecalho_ancoragem.png") no-repeat scroll 0 0 transparent;
    height: 155px; left: -79px; margin: 0 0 0 -6px; position: absolute; width: 808px; z-index: 0;
}
#tituloTopo {
	width: 620px;
}
#tituloTopo h1 {
	padding: 15px 0px 0px 25px; margin: 0px 0px 0px 10px; color: white; font-weight: bolder; font-size: 26px; position: relative;
}
#tituloTopo h3 {
	padding: 2px 0px 0px 25px;  color: #cbf6f3; margin: 5px 0px 0px 15px; font-size: 18px; position: relative;
}
#corpo {
	/*width: 620px;*/ min-height: 400px; padding: 0;
}
.texto {
	width: 600px; min-height: 10px; padding: 20px; text-align: justify;
}
.img {
	padding: 10px;
}

/* 
	BANNER 
*/
#banner {
	width: 750px; margin: -15px 0px -30px -55px; position: relative; height: 180px; box-shadow: 0px 0px 7px #B2B0B0;
}
.banner {
	height: 180px;  text-align: left;
}
.banner .titulo {
	width: 220px; height: 45px;
}
.banner .titulo h1 {
	margin: 10px 10px 0px  15px; padding: 0px 0px 0px  0px; font-size: 40px; color: #ff6c00;
}
.banner .conteudo {
	font-size: 16px; color: #ffa200; margin: 0px 10px 0px 15px; padding: 0px 0px 0px 0px; font-weight: bold; height: 90px;
}
.banner .conteudo span {
	height: 85px;
}
.saberMais {
	width: 140px; height: 35px; background: #0e7bc0; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 15px; cursor: pointer;
}
.setaSaberMais_Banner {
	margin: 10px; float: left; background: url("../img/icones/icon3.png") -41px -40px; width: 10; height: 13px;
}
.textoSaberMais_Banner {
	font-size: 11px; margin-top: 10px; color: white; float: left; 
}
.setaImportante_Banner {
	width: 460px; height:180px;  position: absolute; background: url('../img/icones/setaImportante_Banner.png') no-repeat;
}


/* 
	CAIXA TEXTO BANNER 
*/	 
.caixaTextoBanner {
	width: 620px; background: #0e7bc0; padding: 10px; display: none; /*margin: -20px 0 0 -20px; */
}
.caixaTextoBanner h2 {
	padding: 0px 0px 10px 0px; margin: 0px; color: #fff; height: 20px; width: 100%; font-size: 26px;
}
.caixaTextoBanner span {
	padding: 0px; margin: 0px; font-size: 12px; color: #fff; font-size: 14px;
}

.rslides {
	position: relative;
}
/* 
	FIM CAIXA TEXTO BANNER 
*/

/* 
	FIM BANNER 
*/


/* 
	VIDEO 
*/
.corpoAtividadeDeAprendizagemTipoVIDEO {
	width: 100%; height:190px; margin-top: 50px;
}

/* @ CAIXA ATIVIDADE DE APRENDIZADO VIDEO 1  @ */
.atividadeDeAprendizagemVIDEO1 {
	position: relative; background: #fdf9ea; width: 750px; height:110px; left: -55px;
}
.barraAtividadeDeAprendizagemVIDEO1 {
	width: 380px; height:39px; margin: -22px; position: relative; background: url('../img/icones/barraTopoAtividadeDeAprendizagemDireita.png') no-repeat;
}
.barraAtividadeDeAprendizagemVIDEO1 div {
	padding: 5px 0px 0px 0px; width: 370px; text-align: center;
}
.barraAtividadeDeAprendizagemVIDEO1 div span {
	color: #fff; font-size: 16px; font-weight: bolder;
}
.videoAtividadeDeAprendizagemVIDEO1 {
	position: absolute; width: 390px; height:220px; top: -40px; right: -1; padding: 5px; background: #FFF;
}
/*.iconeAtividadeDeAprendizagemVIDEO1 {
	background: url('../img/icones/compAtividadeDeAprendizagem.png'); width: 39px; height: 39px; margin: 25px 0px 0px 15px;
}*/
.textoAtividadeDeAprendizagemVIDEO1 {
	padding: 20px 10px 0px 10px; width: 331px; height: 70px;
}
.textoTituloAtividadeDeAprendizagemVIDEO1 {
	font-weight: bolder;
}
/**/

/* CAIXA ATIVIDADE DE APRENDIZADO VIDEO 2 */
.atividadeDeAprendizagemVIDEO2 {
	position: relative; background: #fdf9ea; width: 750px; height:110px; left: -55px;
}
.barraAtividadeDeAprendizagemVIDEO2  {
	width: 100%; height:39px; margin-right: -22px; right: 0px; top:-1px; position: absolute; background: url('../img/icones/barraTopoAtividadeDeAprendizagemEsquerda.png') no-repeat;
}
.barraAtividadeDeAprendizagemVIDEO2  div {
	padding: 5px 0px 0px 0px; width: 388px; text-align: center;
}
.barraAtividadeDeAprendizagemVIDEO2  div span {
	color: #fff; font-size: 16px; font-weight: bolder;
}
.videoAtividadeDeAprendizagemVIDEO2 {
	position: absolute; width: 390px; height:220px; top: -45; left: -2px; padding: 5px; background: #FFF;
}
/*.iconeAtividadeDeAprendizagemVIDEO2 {
	background: url('../img/icones/compAtividadeDeAprendizagem.png'); width: 39px; height: 39px; margin: 38px 8px 0 0px;
}*/
.textoAtividadeDeAprendizagemVIDEO2 {
	padding: 33px 7px 0 0; width: 340px; height: 70px;
}
.textoTituloAtividadeDeAprendizagemVIDEO2 {
	font-weight: bolder;
}
/**/

.corpoAtividadeDeAprendizagemTipoCaixa {
	width: 425px; margin: 0px auto; height: 168px;
}
.atividadeDeAprendizagemCaixa {
	width: 422px; height: 135px; background: #FDF9EA; margin: 0px auto;
}
.topoAtividadeDeAprendizagemCaixa {
	color: #fff; margin-left: -24px; margin-top: -1px; padding: 5px 0px 0px 0px;  background: url('../img/icones/barraCompletaAtividadeDeAprendizagem.png') no-repeat; width: 472px; height: 37px; text-align: center;
}
.iconeAtividadeDeAprendizagemPDF {
	margin-left: 30px; background: url('../img/icones/iconAtividade.png') -391px -48px no-repeat; width: 110px; height: 110px;
}
.iconeAtividadeDeAprendizagemPowerPoint {
	margin-left: 30px; background: url('../img/icones/iconAtividade.png') -273px -48px no-repeat; width: 110px; height: 110px;
}
.iconeAtividadeDeAprendizagemJogos {
	margin-left: 30px; background: url('../img/icones/iconAtividade.png') -152px -48px no-repeat; width: 110px; height: 110px;
}
.iconeAtividadeDeAprendizagemEstatisticas {
	margin-left: 30px; background: url('../img/icones/iconAtividade.png') -509px -48px no-repeat; width: 110px; height: 110px;
}
.iconeAtividadeDeAprendizagemInfografico {
	margin-left: 30px; background: url('../img/icones/iconAtividade.png') -627px -48px no-repeat; width: 110px; height: 110px;
}
.iconeAtividadeDeAprendizagemTimeline {
	margin-left: 30px; background: url('../img/icones/iconAtividade.png') -746px -48px no-repeat; width: 110px; height: 110px;
}

.textoAtividadeDeAprendizagemCaixa {
	width: 260px; height: 70px; margin-left: 10px; 
}
.textoAtividadeDeAprendizagemPDFCaixa span {
	color: black;	
}
.linkAtividadeDeAprendizagemCaixa {
	width: 260px; text-align: center;
}

/* Atividade Realizada*/
.atividadeRealizadaVIDEO 			{ width: 355px; height:30px; background: url('../img/icones/barraAtividadeRealizada.png') #0EC012; }
.atividadeRealizadaVIDEO div 		{ width: 170px; height:30px; margin: 0 auto; }
.atividadeRealizadaVIDEO div div 	{ width: 20px; height:20px; margin: 4px 0px 0px 0px; background: url('../img/icones/icon3.png') -36px -7px; }
.atividadeRealizadaVIDEO div span 	{ padding: 5px; color: #FFF; }

.atividadeRealizadaPDF 				{ width: 424px; height:30px; margin-left: 1px; background: url('../img/icones/barraAtividadeRealizada.png') #0EC012; }
.atividadeRealizadaPDF div 			{ width: 280px; height:30px; margin: 0 auto; }
.atividadeRealizadaPDF div div 		{ width: 20px; height:20px; margin: 3px 0px 0px 40px; background: url('../img/icones/icon3.png') -36px -7px; }
.atividadeRealizadaPDF div span 	{ padding: 5px; color: #FFF; }

.bordarAtividadeRealizada 			{ border-left: 1px solid #0EC012; border-right: 1px solid #0EC012; }
/**/

/* Atividade Pendente */
.atividadePendenteVIDEO 		 	{ width: 355px; height:30px; margin-left: 1px; background: #ffcd35; margin: 0px 0px 0px -55px; }
.atividadePendenteVIDEO div 	 	{ width: 170px; height:30px; margin: 0 auto; }
.atividadePendenteVIDEO div div  	{ margin: 4px 0px 0px 0px; background: url('../img/icones/icon3.png') -10px -8px; width: 20px; height:20px; }
.atividadePendenteVIDEO div span 	{ padding: 5px; color: #ed2024; }

.atividadePendentePDF 				{ width: 423px; height:30px; background: #ffcd35; margin-left: 1px; }
.atividadePendentePDF div 			{ width: 280px; height:30px; margin: 0 auto; }
.atividadePendentePDF div div 		{ margin: 6px 0px 0px 40px; background: url('../img/icones/icon3.png') -10px -8px; width: 20px; height:20px; }
.atividadePendentePDF div span 		{ padding: 7px; color: #ed2024; }

.bordarAtividadePendente 		 	{ border-left: 1px solid #ffcd35; border-right: 1px solid #ffcd35;  }
/**/

.rodape {
	width:100%; font-size: 14px; height: 35px; background: #ff0000; text-align: center; color: #FFF;
}

.bolinhass {
	position: relative;
	top: 5px;
}