body													{}

@font-face {
	font-family: "CronosPro-Bold";
	src: url("http://site/fontes/RegencyScriptFLF-Regular.eot"); /* para IE */
	src: local("CronosPro-Bold"), url("http://site/fontes/RegencyScriptFLF-Regular.ttf");
	}



/*--------------------------------------Wrapper--------------------------------------*/													

div.wrapper 											{margin: 0 auto; height:576px; width:769px; background-color: rgb(227,230,236); position:relative;}

.campoVideo 											{position:absolute; top:45px; left:410px; height:198px; width:333px; z-index:9999; border: solid rgb(255,255,255)}

.lateral 												{position:absolute; height:576px; width:769px; background: url(../img/icones/topo_lateral.png) no-repeat;}
/*----------------------------------------Top----------------------------------------*/

div.top													{}

.cabecalho 												{position:relative; height:190px;}

.txtCabecalho 											{color: rgb(255,255,255); font: 19px CronosPro-Bold, Serif; margin:0px; padding:7px 0px 0px 27px; float:left;}

.ufsc 		 											{color: rgb(188,249,208); font: 20px CronosPro-Bold, Serif; margin:8px 26px; float:right;}  
													
.tituloTop  											{color: rgb(255,255,255); font: 30px CronosPro-Bold, Serif; line-height:100%; margin-left:1%; padding:20px 0px 0px 0px; clear:both; text-align: center; width:400px;}
	

/*--------------------------------------Middle--------------------------------------*/

div.middle												{height:275px; position:relative;}

.silhoueta 												{background: url(../img/icones/silhouetas.png); height:71px; width:200px; position:absolute; top:87px; left:415px;}

.descricaoModulo 										{padding:25px 20px; width:380px;}

.descricaoModulo p										{font-size:16px; font-family:CronosPro-Regular, Serif; color: rgb(113,119,104); text-decoration:none;}

.menuUnidade 											{height:125px; width:769px; background: url(../img/icones/fundoMenu.jpg) repeat-x; position:absolute; top:150px;}

.descricaoContainer 									{height:125px; width:769px;}

.colDescricao li										{display:inline-block; height:125px; width:195px; position:relative; margin-left:5px; margin-right:5px;}

.descricao a 											{display:table; vertical-align: top; height:100px; width:115px; font: 12px CronosPro-Bold, Serif; color: rgb(255, 255, 255); margin:25px 0px 0px 80px; text-decoration:none}			

.unidadeIcon 											{position: absolute; height:86px; width:62px; background:url(../img/icones/icon.png) -119px -626px; top:18px; left:5px;}

.unidadeIcon2											{position: absolute; height:86px; width:62px; background:url(../img/icones/icon.png) -119px -626px; top:18px; left:5px;}

.unidadeIcon3 											{position: absolute; height:86px; width:62px; background:url(../img/icones/icon.png) -119px -626px; top:18px; left:5px;}

.unidadeCheck:after 									{content: ''; display: block; width: 35px; height: 33px; background:url(../img/icones/icon.png) -96px -8px;}


/*--------------------------------------Bottom--------------------------------------*/


div.bottom												{height: 113px; position:relative;}

.iconBottom 											{padding:14px 45px; float:left;}

.iconBottom li											{display:inline-block; margin-left:9px; z-index:9999;}

.iconBottom li a 	 									{text-decoration:none;}

.facebookIcon 											{height:60px; width:75px; background: url(../img/icones/icon.png) -4px -63px no-repeat;}

.cafeIcon 												{height:60px; width:75px; background: url(../img/icones/icon.png) -4px -142px no-repeat;}

.enqueteIcon 											{height:60px; width:75px; background: url(../img/icones/icon.png) -4px -222px no-repeat;}

.complementarIcon 										{height:60px; width:75px; background: url(../img/icones/icon.png) -4px -302px  no-repeat;}

.ferramentaIcon 										{height:60px; width:75px; background: url(../img/icones/icon.png) -4px -382px no-repeat;}

.glossarioIcon 											{height:60px; width:75px; background: url(../img/icones/icon.png) -4px -462px no-repeat;}

.forumIcon 												{height:60px; width:75px; background: url(../img/icones/icon.png) -4px -542px no-repeat; }	

.forum 													{display:block; height:67px; width:77px; float:right; padding:29px 17px; text-decoration:none;}					

.fontIcon 												{font: 16px CronosPro-Regular, Serif; color: rgb(113,119,104); display:block; padding-top:5px;}

.facebookText											{text-indent: 7px;}

.cafeText												{text-indent: 1px;}

.enqueteText											{text-indent: 13px;}

.complementarText										{text-indent: 8px;}

.ferramentaText											{text-indent: 3px;}

.glossarioText											{text-indent: 11px;}

.forumText												{text-indent: 19px; color:rgb(230,230,230); text-decoration:none;}


