body													{}

@font-face {
	font-family: "CronosPro-Bold";
	src: url("http://site/fontes/RegencyScriptFLF-Regular.eot"); /* para IE */
	src: local("CronosPro-Bold"), url("http://site/fontes/RegencyScriptFLF-Regular.ttf");
	}



/*--------------------------------------Wrapper--------------------------------------*/

div.wrapper 											{margin: 0 auto; height:576px; width:769px; background-color: rgb(227,230,236); position:relative;}

.campoVideo 											{position:absolute; top:45px; left:365px; height:217px; width:389px; z-index:9999; border: solid rgb(255,255,255)}

.lateral 												{position:absolute; top:229px; left:656px; height:347px; width:113px; background: url(../img/lateral.jpg) no-repeat;}
/*----------------------------------------Top----------------------------------------*/

div.top													{}

.cabecalho 												{height:229px; background: url(../img/cabecalho.jpg) no-repeat}

.txtCabecalho 											{color: rgb(255,255,255); font: 19px CronosPro-Bold, Serif; margin:0px; padding:7px 0px 0px 27px;}
													
.tituloTop  											{color: rgb(255,255,255); font: 30px CronosPro-Bold, Serif; line-height:100%; margin:2% 2% 0% 2%; padding:4px 0px 0px 10px;}
	
.ufsc 		 											{color: rgb(188,249,208); font: 20px CronosPro-Bold, Serif; margin:0px 26px;}  
	

/*--------------------------------------Middle--------------------------------------*/

div.middle												{height:234px; position:relative;}

.quebraLinha 											{float:right; width:403px; height:45px;}

.descricaoModulo 										{padding:15px 15px; width:626px;}

.descricaoModulo p										{font-size:14px; font-family:CronosPro; color: rgb(113,119,104); text-decoration:none;}

.menuUnidade 											{height:138px; width:770px; background: url(../img/fundoMenu.jpg) repeat-x; position:absolute; top:96px;}

.setaVerde 												{height:138px; width:103px; background: url(../img/setaVerde.png) no-repeat; float:left;}

.setaVerde p 											{color: rgb(255,255,255); font: italic 18px CronosPro-Bold, Serif; margin:0px; padding:40px 8px 0px 0px; text-align:center; line-height:18px;}

.descricaoContainer 									{float:right; height:138px; width:667px;}

.colDescricao li										{display:inline; margin-left:30px;}

.descricao 												{display:inline-block; height:138px; width:180px; position:relative;} 

.descricao a 											{display:block; height:100px; width:128px; font: 14px CronosPro-Bold, Serif; color: rgb(59, 178, 139); text-align: justify; margin:20px 0px 0px 40px; text-decoration:none}			

.unidadeIcon 											{position: absolute; height:35px; width:33px; background:url(../img/icon.png) -10px -8px; top:18px; left:5px;}

.unidadeIcon2											{position: absolute; height:35px; width:33px; background:url(../img/icon.png) -10px -8px; top:18px; left:5px;}

.unidadeIcon3 											{position: absolute; height:35px; width:33px; background:url(../img/icon.png) -10px -8px; top:18px; left:5px;}

.unidadeCheck:after 									{content: ''; display: block; width: 35px; height: 33px; background:url(../img/icon.png) -96px -8px;}


/*--------------------------------------Bottom--------------------------------------*/


div.bottom												{height: 113px; position:relative;}

.iconBottom 											{padding:18px 66px; float:left;}

.iconBottom li											{display:inline-block; margin-left:9px; z-index:9999;}

.iconBottom li a 	 									{text-decoration:none;}

.facebookIcon 											{height:60px; width:75px; background: url(../img/icon.png) -4px -63px no-repeat;}

.cafeIcon 												{height:60px; width:75px; background: url(../img/icon.png) -4px -142px no-repeat;}

.enqueteIcon 											{height:60px; width:75px; background: url(../img/icon.png) -4px -222px no-repeat;}

.complementarIcon 										{height:60px; width:75px; background: url(../img/icon.png) -4px -302px  no-repeat;}

.ferramentaIcon 										{height:60px; width:75px; background: url(../img/icon.png) -4px -382px no-repeat;}

.glossarioIcon 											{height:60px; width:75px; background: url(../img/icon.png) -4px -462px no-repeat;}

.forumIcon 												{height:60px; width:75px; background: url(../img/icon.png) -4px -542px no-repeat; }	

.forum 													{display:block; height:77px; width:77px; float:right; padding:22px 17px; text-decoration:none;}					

.fontIcon 												{font: 14px CronosPro, Serif;; color: rgb(113,119,104); display:block; padding-top:5px;}

.facebookText											{text-indent: 10px;}

.cafeText												{text-indent: 4px;}

.enqueteText											{text-indent: 13px;}

.complementarText										{text-indent: 10px;}

.ferramentaText											{text-indent: 3px;}

.glossarioText											{text-indent: 13px;}

.forumText												{text-indent: 21px; color:rgb(230,230,230); text-decoration:none;}


